<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Items</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto mt-10">
        <h1 class="text-3xl font-bold mb-5 text-center">Inventory Items</h1>
        <div class="mb-4 flex flex-row justify-start align-center ml-2">
            <a href="/item/<%= name %>/create-item"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Create Item
            </a>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-300">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b-2 border-gray-300 text-left">Item Name</th>
                        <th class="py-2 px-4 border-b-2 border-gray-300 text-left">Count</th>
                        <th class="py-2 px-4 border-b-2 border-gray-300 text-left">Price</th>
                        <th class="py-2 px-4 border-b-2 border-gray-300 text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach(function(item) { %>
                        <tr>
                            <td class="py-2 px-4 border-b border-gray-300">
                                <%= item.name %>
                            </td>
                            <td class="py-2 px-4 border-b border-gray-300">
                                <%= item.count %>
                            </td>
                            <td class="py-2 px-4 border-b border-gray-300">
                                <%= item.price %>
                            </td>
                            <td class="py-2 px-4 border-b border-gray-300 flex flex-row justify-start align-center">
                                <a href="/item/<%= name %>/<%= item.name %>/update-item/"
                                    class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded">
                                    Update
                                </a>
                                <form action="/item/<%= item.name %>/<%= name %>/delete-item" method="POST"
                                    class="inline">
                                    <button type="submit"
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded mx-2">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>